

.name-row{
  padding: 10px;
  margin-bottom: 10px;
}
.container.mt-4 {
  background-color: #3498db; 
  padding: 20px; 
  border-radius: 15px;
}
.btn.btn-primary{
  display: block;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
.card-deck {
  margin-bottom: 15px; 
}

.card-deck .card {
  margin-right: 15px;
}

.card-deck .card:last-child {
  margin-right: 0;
}